* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Verdana, Tahoma, sans-serif;
}

body {
  text-align: center;
  padding: 14px 0;
  background-color: burlywood;
  height: 100vh;
}

.container {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  width: 480px;
  height: 480px;
  margin: 28px auto;
}

.grid {
}
